@import '../../../variables.scss';

.skill-item {
    display: flex;
    flex-direction: column;
    margin: 2rem 5rem;

    @media only screen and (max-width: $bp-xs) {
        margin: 2rem 2rem;
    }

    &__icon {
        height: 5rem;
        width: 7rem;
    }

    &__name {
        max-width: 20rem;
    }

    .CircularProgressbar {
        height: 18rem;
        width: 18rem;
        margin: 0.5rem;
        overflow: visible;
        
        &-text {
            fill: $color-primary-darkest;
            height: 2rem;  // svg by height not font-size
        }

        &-path {
            stroke: $color-primary;
            transition: 1s;
        }

        &-trail {
            stroke: $color-primary-lightest;
        }
    }
}