.circle {
    &:hover .half-circle__border--r {
        // transform: rotate(180deg);
    }

    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;

    .container {
        width: 15rem;
        height: 15rem;
    }

    .pb {
        
        &__track {
            fill: transparent;
            stroke: blue;
            stroke-width: 0.4rem;
        }

        &__thumb {
            fill: transparent;
            stroke: green;
            stroke-width: 0.4rem;
            stroke-dasharray: 0 calc(30 * 2 * 3.1415);
            stroke-linecap: round;
            transform: rotate(-90deg);
            transform-origin: 50% 50%;
            transition: stroke-dasharray 0.2s;

            &:hover {
                stroke-dasharray: 110;

            }
        }
    }
}
