@import '../../../variables.scss';

.form {
    width: 80%;
    margin: 0 auto;

    // refer to text inputs
    &__input,
    &__textarea {
        margin: 2rem auto;
        font-size: inherit;
        font-family: inherit;
        padding: 1.5rem 2rem;
        border-radius: 3px;
        border: none;
        width: 50%;
        display: block; 
        font-family: inherit;
        border-bottom: 3px solid transparent;
        background: $color-primary-lightest;
        transition: 0.3s;

        @media only screen and (max-width: $bp-xs) {
            width: 90%;
        }


        &::-webkit-input-placeholder {
            color: $color-primary-dark;
        }

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba(black, 0.15);
            border-bottom: 3px solid $color-primary;
            background: $color-secondary-lighter;

            &:invalid {
                border-bottom: 3px solid orangered;
            }
        }
    }

    &__textarea {
        height: 15rem;

        &:focus {
            border-bottom: none;
        }
    }

    &__button {
        font-size: 2.3rem;
        font-family: inherit;
        font-weight: bold;
        padding: 1.5rem 3rem;
        border-radius: 3px;
        background-color: transparent;
        border: 2px solid $color-primary-lightest;
        color: $color-primary-lightest;
        margin-top: 5rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: 0.4s;

        &:hover {
            background-color: $color-secondary-dark;
            color: $color-primary-darker;
            border: 2px solid $color-secondary-dark;
            cursor: pointer;
        }
    }
    


}