@import '../../../variables.scss';

.timeline {
    flex: 0 1 50%;

    list-style: none;
    display: grid;
    grid-template-columns: 12rem 1fr;
    grid-template-rows: 1fr;

    @media only screen and (max-width: $bp-s) {
        margin-bottom: 10rem;
    }

    &__work {
        grid-row: 1 / 2;
        border-left: 0.3rem dashed $color-primary;
    }

    &__education {
        grid-row: 2 / 3;
        border-left: 0.3rem dashed $color-primary;
    }

    &__icon {
        font-size: 8rem;
        color: $color-primary;

        &--work {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }

        &--education {
            grid-row: 2 / 3;      
        }
    }
}
