@import '../../variables.scss';

.skills {
    background: whitesmoke;
    margin: -9rem 8rem;

    transform: skewY(-5deg);
    
    & > * {
        transform: skewY(5deg);
    }
    
    &__paragraph {
        margin-bottom: 3rem;
    }

    &__wrapper {
        width: 50%;
    }
}