@import '../../variables.scss';

.skills {

    background: whitesmoke;
    margin: -9rem 6rem;
    transform: skewY(-5deg);
    
    & > * {
        transform: skewY(5deg);
    }
    
    &__paragraph {
        margin-bottom: 3rem;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 7rem;
    }
}

.CircularProgressbar {
    width: 15rem;
    height: 15rem;
}