@import '../../variables.scss';

.about {

    &__content {
        height: auto;
        display: grid;
        grid-template-columns: 10rem 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: start;
    }

    &__image {
        height: 25em;
        width: 25em;
        object-fit: cover;
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    }


    &__icon {
        width: 6rem;

        &--work {
            grid-column: 1 / 2;
            grid-row: 1 / 2;

        }

        &--education {
            grid-row: 2 / 3;      
        }
    }

    &__text {
        grid-row: 1 / -1;    
        align-self: center;
        background: blue;
        height: 100;    
    }

    &__paragraph {
        text-align: left;
        line-height: 1.4;
        margin-bottom: 2rem;

    }
}

.timeline {
    list-style: none;

    &__work {
        grid-row: 1 / 2;
        border-left: 3px dashed $color-secondary;
        height: 100%;
    }

    &__education {
        grid-row: 2 / 3;
        border-left: 3px dashed $color-secondary;
        
    }
    
    &__item {
        display: flex;
        align-items: center;
        position: relative;
        padding: 2rem;
        padding-left: 4rem;

        &::before {
            content: "";
            display: block;
            background: $color-primary;
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-52%, -50%);
        }
    }

    &__paragraph {
        text-align: left;
    }
}


