@import '../../variables.scss';

.about {

    &__content {
        // height: auto;
        display: flex;
    }

    &__text {
        
    }

    &__paragraph {
        text-align: left;
        margin-bottom: 2rem;
    }
}