@import '../../../../variables.scss';

.timeline-item {
    display: flex;
    align-items: center;
    padding: 2rem 0 0 4rem;
    
    &__year {
        color: $color-primary;
        font-weight: 400;
    }
    
    &__paragraph {
        text-align: left;
        position: relative;
    
        &::before {
            content: "";
            display: block;
            background: $color-secondary;
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            position: absolute;
            left: -4rem;
            top: 1.8rem;
            transform: translate(-53%, -50%);
        }
    }
}