.half-circle {
    position: relative;

    &:hover &__border {
        transform: rotate(180deg);
    }

    &__border {
        position: relative;
        height: 120px;  
        width: 120px;
        border-radius: 50%;
        // background: linear-gradient(to right, blue 50%, lightgray 50%);
        transition: 2s;
        position: absolute;
    
        &:hover {
            // transform: rotate(180deg);
        }

        &--fixed {

            z-index: 10;

            &:hover {
                transform: rotate(0deg);
                // z-index: -10;
            }
        }
    }

    &__fill {
        position: absolute;
        top: 50%;  
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    
        height: 100px;  
        width: 100px;
        border-radius: 50%;
        background: red;
    }
}

