@import '../../variables.scss';

.contact {
    background: 
        linear-gradient(45deg, $color-secondary 5%, transparent 5%, transparent 95%, $color-secondary 95%),
        linear-gradient(-45deg, $color-secondary 5%, $color-primary-dark-1 5%, $color-primary-dark-1 95%, $color-secondary 95%);
    &__icons {
        font-size: 5rem;
        display: inline-block;
        margin: 5px;
        transition: 0.3s;
        color: #1e1e1ee6;

        &:hover {
            color: #f1c40f;
        }
    }

    &__github {
        animation: animate-contact 1.5s; 
    }

    &__linkedin {
        animation: animate-contact 0.5s; 
    }
    
    &__facebook {
        animation: animate-contact 1s; 
    }
    

    &__phone-icon {
        animation: animate-contact 2.5s; 
    }
    
    &__mail-icon {
        animation: animate-contact 2s; 
    }

    &__phone-icon:hover,
    &__mail-icon:hover {
        transform: rotateZ(15deg);
        cursor: pointer;
        color: white;
    }
}



@keyframes animate-contact {
    from {
        transform: translateX(-50rem);
    }

    60% {
        transform: translateX(2rem)
    }
    to {
        transform: translateX(0);
    }
}