@import '../../variables.scss';

.footer {
    background: $color-primary-dark-2;
    color: whitesmoke;
    font-size: 2rem;
    padding: 4rem;
    margin: 0 8rem 8rem 8rem;
    display: grid;
    grid-template-columns: 1fr repeat(4, max-content) 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;

    &__copy {
        grid-column: 3 / span 2;
        grid-row: 4 / 5;
        border-top: 1px solid lightgray;
        display: block;
        padding-top: 1.5rem;
    }

    &__icons-container {
        grid-column: 5 / span 1;
        justify-self: end;
        align-self: center;
    }

    &__email,
    &__phone {
        grid-column: 2 / span 1;

        display: flex;
        align-items: center;
    }

    &__email {
        grid-row: 1 / 2;
    }

    &__phone {
        grid-row: 2 / 3;
    }

    &__icons {
        color: $color-icons;
        font-size: 4rem;
        line-height: 1;
        margin-right: 1rem;
    }
}