$font-main: 'Lato';

$color-primary-lightest: #c0e1f6;
$color-primary-lighter: #85C4ED;
$color-primary-light: #58ACE3;
$color-primary: #3498db;
$color-primary-dark: #0F85D1;
$color-primary-darker: #0665A2;
$color-primary-darkest: #081d2b;

$color-secondary-dark: #FFBD03;
$color-secondary: #FFC930;
$color-secondary-light: #FFD459;
$color-secondary-lighter: #FFE088;



$color-icons: rgba(255, 255, 255, 0.3);
$color-github: #333;
$color-linkedin: #0077B5;
$color-facebook: #4267B2;

// breaking points
$bp-xl: 87.5em;  // 1400px;
$bp-l: 75em;  // 1200px;
$bp-m: 56.25em;  // 900px;
$bp-s: 50em;  // 800px;
$bp-xs: 37.5em;  // 600px;