$font-main: 'Lato';

$color-primary: #3498db;
$color-primary-light: #51a7e0;
$color-primary-dark: #2487c9;
$color-primary-dark-1: #103a56;
$color-primary-dark-2: #081d2b;

// $color-primary-dark-1: #081d2b;
// $color-primary-dark-2: #05131d;

$color-secondary: #FFC930;
$color-secondary-light-1: #ffd252;
$color-secondary-light-2: #ffdb74;
$color-secondary-dark: #ffc00e;

$color-icons: rgba(255, 255, 255, 0.3);
$color-github: #333;
$color-linkedin: #0077B5;
$color-facebook: #4267B2;

// breaking points
$bp-xl: 87.5em;  // 1400px;
$bp-l: 75em;  // 1200px;
$bp-m: 65.625em;  // 1050px;
$bp-s: 56.25em;  // 900px;
$bp-xs: 37.5em;  // 600px;